
@{
    ViewBag.Title = ViewBag.username;
}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <p class="userImg">
            <img src="~/Uploads/@ViewBag.usernameimg" />
        </p>
        <h2>@ViewBag.viewingFullName (@ViewBag.username)</h2>

        @if (ViewBag.usertype == "guest")
        {
            <div class="friends">
                @if (ViewBag.notfriends == "pending")
                {
                    <div class="areFriendDiv alert alert-warning">
                        <p>Pending friend request</p>
                    </div>
                }
                else if (ViewBag.notfriends == "true")
                {
                    <div class="areFriendDiv alert alert-info">
                        <a href="#" class="addFriend">Add Friend</a>
                    </div>
                }
                else
                {
                    <div class="areFriendDiv alert alert-success">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Friends
                    </div>
                }
            </div>
        }
    </div>
</div>

@section Scripts{

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        $(document).ready(function () {

            /*Live Search*/
            $("input#searchText").on("keyup", function () {

                var searchVal = $("input#searchText").val();
                $("ul#liveSearchUl").empty();

                if (searchVal == "" || searchVal == " ")
                    return false;

                var url = "Profile/LiveSearch";

                $.post(url, { searchVal: searchVal }, function (data) {
                    if (data.length > 0) {
                        $("ul#liveSearchUl").append("<li class='close'>x</li>");
                    }

                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        $("ul#liveSearchUl").append("<li class='liveSearchLi'><a href='/" + obj.Username + "'><img src='Uploads/" + obj.UserId + ".jpg'/>" + " " + obj.FirstName + " " + obj.LastName + "</a></li>");
                    }
                });
            });

            $("body").on("click", "ul#liveSearchUl li.close", function () {
                //e.preventDefault();

                $("ul#liveSearchUl").empty();
                $("input#searchText").val("");
            });

            /*
             * Hub
             * */

            //Setup hub connection
            var hub = $.connection.echo;

            hub.client.test = function (msg) {
                console.log(msg);
            }

             /* frnotify */
            hub.client.frnotify = function (f, count) {
                $("span.frnotif." + f + "> span").text(count);
                $("span.frnotif." + f).addClass("red");
                Console.log(f + " " + count);
                alert("working!");
            }

            //COnnect to the hub
            $.connection.hub
                        .start()
                .done(function () {

                    hub.server.hello("SignalR is working");

                /*Add Friend*/
                    $("a.addFriend").on("click", function (e) {
                        e.preventDefault();

                        var friend = '@ViewBag.username';
                        var url = "/Profile/AddFriend";

                        $.post(url, { friend: friend }, function (data) {
                            $(".areFriendDiv").removeClass("alert-info")
                                .addClass("alert-warning")
                                .html("<p>Pending friend request</p>");
                        }).done(function () {
                            hub.server.notify(friend);
                        });
                    });
                });

        /*Display Friend Requests*/
            $("body").on("click", "span.frnotif.red", function () {

                $("#friendnotiful").empty();

                var url = "Profile/DisplayFriendRequest";

                $.post(url, {}, function (data) {
                    if (data.length > 0) {
                        $("#friendnotiful").append("<li class='close'>x</li>");
                    }

                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        $("ul#friendnotiful").append("<li class='friendnotifli'><a href='/" +
                            obj.Username + "'><img src='Uploads/" + obj.Id +
                            ".jpg'/>" + " " + obj.FirstName + " " + obj.LastName +
                            "</a>" + "<a class='accept' href='#' data-id='" + obj.Id +
                            "'><span class='glyphicon glyphicon-ok'></span></a>" +
                            "<a class='decline' href='#' data-id='" + obj.Id +
                            "'><span class='glyphicon glyphicon-remove'></span></a></li>");
                    }
                });
            });

            $("body").on("click", "ul#friendnotiful li.close", function () {
                //e.preventDefault();

                $("ul#friendnotiful").empty();
            });


        });//End Ready
    </script>

}

